// About Section CSS
.about-section {
  .section-title {
    margin-bottom: 20px;
  }
  .about-img {
    @media (max-width: 1399.98px) {
      padding-right: 30px;
    }
    @media (max-width: 767.98px) {
      padding-right: 0;
      margin-top: -80px;
    }
    @media (max-width: 575.98px) {
      margin-left: -36px;
    }
    .img-main {
      max-width: 526px;
      .about-shape {
        right: -24px;
        top: 24px;
        animation: spin 26s infinite linear;
        @media (max-width: 767.98px) {
          top: 106px;
          width: 120px;
        }
        @media (max-width: 575.98px) {
          top: 66px;
          width: 78px;
          right: 36px;
        }
      }
    }
    .clients {
      background-color: white;
      padding: 19px 30px;
      bottom: 100px;
      right: 15px;
      gap: 20px;
      @media (max-width: 1399.98px) {
        bottom: 10px;
      }
      
      .counter-info {
        .number {
          font-family: var(--font-Space);
          font-size: 32px;
          font-weight: 500;
          line-height: 40px;
          letter-spacing: -0.64px;
          color: var(--black);
          @media (max-width: 575.98px) {
            font-size: 24px;
            line-height: 32px;
          }
        }
      }
    }
    .box-icon {
      img {
        width: 46px;
      }
    }
  }
  .about-content {
    @media (max-width: 991.98px) {
      margin-top: 60px;
    }
    .list-box {
      @media (max-width: 767.98px) {
        margin-bottom: 32px;
      }
      .list-wrapper {
        &:last-child {
          .list-info {
            border-right: 0;
          }
        }
        .list-info {
          border-right: 3px solid rgba(204, 204, 204, 0.5);
          @media (max-width: 767.98px) {
            border-right: 0;
          }
          li {
            text-wrap: nowrap;
            margin-bottom: 10px;
            color: var(--black);
            font-family: var(--font-inter);
            font-size: 18px;
            font-weight: 400;
            line-height: 28px; /* 155.556% */
            letter-spacing: -0.36px;
            i {
              color: var(--tertiary);
              margin-right: 15px;
            }
          }
        }
      }
    }
    .btn-arrow-fill {
      fill: var(--black);
    }
  }
}
