/*=============================
	03. Banner CSS start
===============================*/

// banner one start
.banner-section {
  background: white;
  padding: 117px 0 17.83px 0;

  .banner-content {
    @media screen and (max-width: 991.98px) {
      text-align: center !important;
    }
    .banner-title {
      @media screen and (max-width: 991.98px) {
        margin: 0 auto;
        text-align: center !important;
      }
      .title-shape {
        right: 80px;
        top: -20px;
        @media (max-width: 1199.98px) {
          right: 8px;
        }
      }
      max-width: 541px;
      font-size: 74px;
      line-height: 84px;
      letter-spacing: -1.48px;
      @media (max-width: 1199.98px) {
        font-size: 60px;
        line-height: 70px;
      }
    }
    .banner-info {
      letter-spacing: -0.36px;
      margin-top: 29px;
      margin-bottom: 39px;
      max-width: 463px;
      @media screen and (max-width: 991.98px) {
        margin: 0 auto;
        text-align: center !important;
      }
    }
    .banner-btn {
      gap: 50px;
      @media screen and (max-width: 991.98px) {
        justify-content: center;
        margin-top: 15px;
      }
      .play-btn {
        gap: 10px;
        line-height: 28px;
        letter-spacing: -0.36px;
        color: var(--paragraph-color);

        .icon {
          display: grid;
          place-content: center;
          width: 50px;
          height: 50px;
          background: var(--secondary);
          color: var(--tertiary);
          transition: var(--transition);
        }
        &:hover {
          .icon {
            background: var(--bg-three);
            color: #ffffff;
          }
        }
      }
    }
  }
  .custom-shadow {
    width: 431px;
    height: 431px;
    background: var(--secondary);
    opacity: 0.6;
    filter: blur(152.6000061035px);
    bottom: -176px;
    right: -220px;
  }
}

// banner two start
.banner-section-two {
  background: var(--black);
  .banner-content {
    padding-right: 64px;
    .banner-title {
      color: #fff;
      font-feature-settings: "liga" off, "clig" off;
      font-size: 92.035px;
      line-height: 100px; /* 108.655% */
      letter-spacing: -1.841px;
      text-transform: capitalize;
    }
    .banner-info {
      color: white;
      /* Body/M */
      font-family: Inter;
      font-size: 18px;
      line-height: 28px; /* 155.556% */
      letter-spacing: -0.36px;
      margin-top: 28.5px;
      margin-bottom: 30px;
    }
  }
}
