/*=============================
	03. Banner CSS start
===============================*/

// banner one start
.banner-section {
  background: white;
  padding: 117px 0 17.83px 0;

  .banner-content {
    @media screen and (max-width: 991.98px) {
      text-align: center !important;
    }
    .banner-title {
      @media screen and (max-width: 991.98px) {
        margin: 0 auto;
        text-align: center !important;
        margin-top: 20px;
        span {
          text-align: center !important;
        }
      }
      .title-shape {
        right: 80px;
        top: -20px;
        @media (max-width: 1399.98px) {
          right: 8px;
        }
        @media (max-width: 991.98px) {
          right: -8px;
        }
        @media (max-width: 767.98px) {
          right: -20px;
        }
        @media (max-width: 375.98px) {
          width: 65px;
        }
      }
      max-width: 541px;
      font-size: 74px;
      line-height: 84px;
      letter-spacing: -1.48px;
      @media (max-width: 1199.98px) {
        font-size: 60px;
        line-height: 70px;
      }
      @media (max-width: 576.98px) {
        font-size: 45px;
        line-height: 60px;
      }
    }
    .banner-info {
      letter-spacing: -0.36px;
      margin-top: 29px;
      margin-bottom: 39px;
      max-width: 463px;
      @media screen and (max-width: 991.98px) {
        margin: 0 auto;
        text-align: center !important;
      }
    }
    .banner-btn {
      gap: 50px;
      @media screen and (max-width: 576.98px) {
        gap: 16px;
      }
      @media screen and (max-width: 991.98px) {
        justify-content: center;
        margin-top: 15px;
      }
      .play-btn {
        gap: 10px;
        line-height: 28px;
        letter-spacing: -0.36px;
        color: var(--paragraph-color);

        .icon {
          display: grid;
          place-content: center;
          width: 50px;
          height: 50px;
          background: var(--secondary);
          color: var(--tertiary);
          transition: var(--transition);
        }
        &:hover {
          .icon {
            background: var(--bg-three);
            color: #ffffff;
          }
        }
      }
    }
  }
  .custom-shadow {
    width: 431px;
    height: 431px;
    background: var(--secondary);
    opacity: 0.6;
    filter: blur(152.6000061035px);
    bottom: -176px;
    right: -220px;
  }
}

// banner two start
.banner-section-two {
  background: white;
  padding: 72px 0;
  &::before {
    position: absolute;
    z-index: -1;
    width: 62%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: var(--black);
    clip-path: polygon(0 0, 74% 0, 100% 100%, 0% 100%);
    @media (max-width: 1799.98px) {
      width: 68%;
      clip-path: polygon(0 0, calc(100% - 340px) 0, 100% 100%, 0% 100%);
    }
    @media (max-width: 1199.98px) {
      width: 74%;
    }
    @media (max-width: 991.98px) {
      width: 100%;
      clip-path: none;
    }
  }
  .banner-content {
    padding-right: 64px;
    @media (max-width: 991.98px) {
      padding-right: 0;
      text-align: center;
    }
    .banner-title {
      color: #fff;
      font-size: 92px;
      line-height: 100px; /* 108.655% */
      letter-spacing: -1.841px;
      @media (max-width: 1399.98px) {
        font-size: 68px;
        line-height: 78px;
      }

      @media (max-width: 1199.98px) {
        font-size: 52px;
        line-height: 63px;
      }

      @media (max-width: 575.98px) {
        font-size: 44px;
        line-height: 56px;
        text-align: center !important;
      }
    }
    .banner-info {
      color: white;
      font-family: var(--font-inter);
      line-height: 28px; /* 155.556% */
      margin-top: 28.5px;
      margin-bottom: 30px;
      @media (max-width: 991.98px) {
        margin: 28px auto 30px;
      }
    }
    .play-video {
      width: 203px;
      height: 203px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.05);
      @media (max-width: 991.98px) {
        margin: 0 auto;
      }
      img {
        animation: spin 26s infinite linear;
      }
      .icon {
        width: 90px;
        height: 90px;
        background: var(--primary);
        display: grid;
        place-content: center;
        font-size: 25px;
      }
    }
  }
  .banner-img {
    transform: translateX(57px);
    @media (max-width: 1799.98px) {
      width: 810px;
    }

    @media (max-width: 1399.98px) {
      width: 677px;
    }

    @media (max-width: 1199.98px) {
      width: 606px;
    }

    @media (max-width: 767.98px) {
      width: 100%;
    }

    @media (max-width: 991.98px) {
      margin: 0 auto;
      transform: translateX(0);
    }
  }
  .banner-shapes {
    .shape-1 {
      left: 50px;
      top: -125px;
      // transform: rotate(3deg);
      @media (max-width: 1799.98px) {
        left: 70px;
      }
      @media (max-width: 1399.98px) {
        left: 20px;
      }
      @media (max-width: 1199.98px) {
        left: 12px;
      }
      
      @media (max-width: 991.98px) {
        display: none;
      }
    }
    .shape-2 {
      left: -18px;
      bottom: 155px;
      @media (max-width: 1399.98px) {
        transform: rotate(-3deg);
        left: -8px;
      }
      @media (max-width: 1199.98px) {
        transform: rotate(-4deg);
        
      }
      @media (max-width: 991.98px) {
        display: none;
      }
    }
  }
  .banner-object {
    right: -25px;
    top: -75px;
    
    @media (max-width: 1799.98px) {
      top: unset;
      bottom: 0;
    }
    @media (max-width: 1399.98px) {
      top: 175px;
      bottom: unset;
    }
    @media (max-width: 1199.98px) {
      top: 175px;
    }
    img{
      @media (max-width: 1799.98px) {
        height: 548px;
      }
      @media (max-width: 1199.98px) {
        height: 446px;
      }
    }
    @media (max-width: 991.98px) {
      display: none;
    }
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
