/*=============================
	03. Header CSS start
===============================*/
.header-section {
  .navbar {
    padding: 0;
    .navbar-main {
      background: var(--bg-one);
      padding: 8px 50px;
      border-radius: 80px;
      margin-top: 20px;
      .navbar-brand {
        padding: 0;
      }
      .navbar-collapse {
        .navbar-nav {
          padding: 0;
          gap: 25px;
          .nav-item {
            padding: 0;
            position: relative;
            .nav-link {
              padding: 0;
              color: var(--black);
              font-family: var(--font-space);
              line-height: 78px;
              display: flex;
              align-items: center;
              gap: 5px;
              i {
                font-size: 18px;
              }
            }
            .sub-menu {
              width: 226px;
              background-color: white;
              position: absolute;
              top: 100%;
              margin-top: 10px;
              left: 0;
              z-index: 999;
              visibility: hidden;
              opacity: 0;
              transition: var(--transition);
              box-shadow: var(--shadow);
              li {
                a {
                  color: var(--black);
                  display: block;
                  background-color: transparent;
                  width: 100%;
                  padding: 8px 16px;
                  font-weight: 500;
                  transition: var(--transition);
                  &:hover {
                    background-color: var(--primary);
                    color: white;
                }
                }
              }
            }
            &:hover {
              > .sub-menu {
                visibility: visible;
                opacity: 1;
                margin-top: 0px;
              }
            }
          }
        }
        .call-to-action {
          gap: 15px;
          .icon {
            width: 55px;
            height: 55px;
            background: white;
            display: grid;
            place-items: center;
            color: var(--primary);
            transition: var(--transition);
          }
          .info {
            p {
              letter-spacing: -0.36px;
            }
            h6 {
              line-height: 30px;
              font-size: 18px;
            }
          }
          &:hover {
            .icon {
              color: white;
              background: var(--primary);
            }
          }
        }
      }
    }
  }
}
