/*=============================
	06. Service CSS start
===============================*/

.service-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .section-title {
    margin-bottom: 60px;
    .title {
      max-width: 560px;
      @media (max-width: 1199.98px) {
        max-width: 394px;
      }
    }
  }
  .arrow{
    width: 60px;
    height: 60px;
    border: 5px solid var(--paragraph-color);
    display: grid;
    place-content: center;
    border-radius: 14px;
    transition: var(--transition);
    cursor: pointer;
    font-size: 24px;
    color: var(--paragraph-color);
    position: absolute;
    top: -120px;
    &:hover {
      border-color: var(--tertiary);
      color: var(--tertiary);
    }
  }
  .arrow-next{
    right: 12px;
  }
  .arrow-prev{
    right: 92px;
  }
  .service-card {
    background: white;
    border-radius: 20px;
    padding: 40px;
    margin: 0 12px;
    border: 1px solid var(--border-color);
    transition: var(--transition);
    &:hover {
      border-color: var(--black);
    }
    .service-title {
      margin-top: 60px;
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 36px;
      @media screen and (max-width: 1199.98px) {
        margin-top: 30px;
        margin-bottom: 16px;
      }
    }
    .service-details {
      max-width: 330px;
    }
  }
}
