/*=============================
	11. Testimonial CSS start
===============================*/
.testimonial-section {
    .section-title {
        margin-bottom: 20px;
    }
    .testimonial-info{
        padding-right: 40px;
        .call-us{
            margin-top: 39px;
        }
    }
}